// main norberg 2023
  
body
  font-family: 'A', sans-serif  
  
.font-a
  font-family: 'A', sans-serif
.font-b
  font-family: 'B', sans-serif
// .font-c
//   font-family: 'C', sans-serif
.font-d
  font-family: 'D', sans-serif
  

  
xmp, pre
  font-family: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
  font-weight: normal
  text-transform: none
  background: #e5e7eb
  border: 1px solid #8250DF
  padding: 10px 5px
  margin: 0 2px 10px 2px
  font-size: 13px
  line-height: 1em
  color: #8250DF
  border-radius: 5px
  display: block
  max-width: 100%
  word-wrap: break-word
  white-space: pre-wrap
  &.debug
    position: fixed
    top: 0
    right: 0
    z-index: 99
    width: 50vw